@import 'loading';
@import 'animations';

@import url('https://use.fontawesome.com/releases/v5.7.0/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Lato:200,300,400,700');
$font-family-base: Lato;
@import url('https://fonts.googleapis.com/css?family=Quicksand:200,300,400,700');
$headings-font-family: Quicksand;

$enable-grid-classes: false;

$primary: #528078;
$secondary: #eed75a;
$success: #fec100;
$danger: #703b3b;
$info: $primary;
$warning: #ffe869;
$light: #fdfbf7;
$dark: white;
$black: #333;
@import '../../node_modules/bootstrap/scss/bootstrap';
@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';
@import '../../node_modules/bootstrap/scss/reboot';
@import '../../node_modules/bootstrap/scss/type';
@import '../../node_modules/bootstrap/scss/images';
@import '../../node_modules/bootstrap/scss/code';
@import '../../node_modules/bootstrap/scss/grid';

html {
  overflow-y: scroll;
}

.wait-container {
  height: 100vh;
  .wait-text {
    padding-bottom: 150px;
  }
}

a,
.alert-link {
  color: inherit;
  font-weight: inherit;
}

#about-me {
  i {
    font-size: 36px;
    padding-right: 10px;
  }
  .row {
    margin-left: 0px;
  }
  .fa-facebook {
    color: #3c599f;
  }
  .fa-linkedin {
    color: #0085ae;
  }
  .fa-twitter {
    color: #32ccfe;
  }
  .fa-github {
    color: #070709;
  }
}

#post-card-vertical {
  .card-img-top {
    height: 100px;
  }
}

button:hover i {
  .card {
    color: white;
  }
  nav {
    color: black;
  }
}

button,
nav {
  font-family: Quicksand;
}

nav {
  box-shadow: 0 0.25px 5px rgba(0, 0, 0, 0.2);
  .hello-user {
    color: $black;
  }
  .fa-search {
    color: $info;
    position: relative;
    right: 35px;
  }
  input {
    color: $black !important;
    background-color: $dark !important;
    border-color: $info !important;
  }
}
