.PostsBoard {
  background-color: aliceblue;
}

.SidePanel {
  background-color: bisque;
}

.AboutMe {
  background-color: burlywood;
}

.Tags {
  background-color: cadetblue;
}

.Archives {
  background-color: cornsilk;
}

.PostCard {
  background-color: antiquewhite;
}
